# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Результаты обработки
images/results/

# Логи и временные файлы
*.log
*.tmp
